<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connectionSettings" type="PingORM.ConnectionSettings, PingORM" />
  </configSections>

  <connectionSettings>
    <connections>
      <connection key="tests" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=nsmrvbpn;Database=tests;" mappingsAssembly="PingORM.UnitTests"/>
    </connections>
  </connectionSettings>
</configuration>